<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
  <h:head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"></meta>
    <meta name="generator" content="Jekyll v4.1.1"></meta>
    <title>#{titleController.pageTitle}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/"></link>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"></link>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../resources/css/dashboard.css" rel="stylesheet"></link>
    
  </h:head>



  <h:body>
  <h:form class="needs-validation" id ="addform" action="#">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3"  href="../index.xhtml">AUS Printing CRM</a>
  		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<ul class="navbar-nav px-3">
    		<li class="nav-item text-nowrap">
      			<h:commandLink class="nav-link" value="Sign Out"  action="#{customerManagedBean.logout()}" immediate="true">    				
      			</h:commandLink>
    		</li>
  		</ul>
	</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          
          
             
          <li class="nav-item">
            <a class="nav-link " href="../index.xhtml">
              <span data-feather="users"></span>
              Customers <span class="sr-only"></span>
            </a>
          </li>
          
           <li class="nav-item">
            <a class="nav-link" href="../add.xhtml">
              <span data-feather="plus"></span>
              Add Customer
            </a>
          </li>
 
           <li class="nav-item">
            <a class="nav-link" href="../search.xhtml">
              <span data-feather="search"></span>
              Search
            </a>
          </li>
          
           <li class="nav-item">
            <a class="nav-link" href="../about.xhtml">
              <span data-feather="file-text"></span>
              About
            </a>
          </li>
          
        </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          		<span>Administrator Panel</span>         
      </h6>
        	
        	<ul class="nav flex-column mb-2">
          
          		<li class="nav-item">
            		  <a class="nav-link active" href="users.xhtml">
              			<span data-feather="users">(current)</span>
              			Users 
            		</a>
          		</li>
  
  				<li class="nav-item">
            		<a class="nav-link" href="industryType.xhtml">
              			<span data-feather="package"></span>
              			Industry Type
            		</a>
          		</li> 
          
       	 	</ul>
        
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Users</h1>
        
      </div>



  <div class="col-md-8 order-md-1">
      <h4 class="mb-3">New User</h4>
      
        
        
        <div class="row">
        
          <div class="col-md-6 mb-3">
            <label for="name">Name</label>
            <h:inputText id="name" class="form-control"  value="#{userLocal.name}" title="name" required="true"
									requiredMessage="Please enter the Name!"									
									validatorMessage="Name must contain atleast 3 alphabets" >
				<f:validateLength minimum="3" ></f:validateLength>								
			</h:inputText>           
            <h:message for="name" class="text-danger" />         
          </div>
             
        </div>

		
		<div class="row">
		
		  <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <h:inputText id="email" class="form-control"  value="#{userLocal.email}" title="email" required="true"
									requiredMessage="Please enter the Email!"									
									validatorMessage="Invalid Email" >
				 <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />							
			</h:inputText>           
            <h:message for="email" class="text-danger" />         
          </div>
          
          
          
          <div class="col-md-6 mb-3 ">
            <label for="phoneNumber">Phone Number</label>
            <h:inputText id="phoneNumber" class="form-control"  value="#{userLocal.phoneNumber}" title="phoneNumber" required="true"
				requiredMessage="Please enter the Phone number!"
				validatorMessage="Invalid Phone Number"									
				converterMessage="Please enter a number">
				<f:convertNumber integerOnly="true" />
				<f:validateLongRange minimum="400000000"/>
			</h:inputText>	
				  <h:message for="phoneNumber" class="text-danger" />   					                      
          </div>
		 
 		</div>
 		
 		
 		


		<div class="row">
		
		 <div class="col-md-6 mb-3">
            <label for="username">User Name</label>
            <h:inputText id="username" class="form-control"  value="#{userLocal.username}" title="username" required="true"
									requiredMessage="Please enter the User Name"									
									validatorMessage="Username must contain atleast 4 alphabets" >
				<f:validateLength minimum="4" ></f:validateLength>								
			</h:inputText>           
            <h:message for="username" class="text-danger" />         
          </div>
          
           <div class="col-md-6 mb-3">
            <label for="password">Password</label>
            <h:inputText id="password" class="form-control"  value="#{userLocal.password}" title="password" required="true"
									requiredMessage="Please enter the Password!"									
									validatorMessage="Password must contain atleast 4 alphabets" >
				<f:validateLength minimum="4" ></f:validateLength>								
			</h:inputText>           
            <h:message for="password" class="text-danger" />         
          </div>
			
		</div>


		
		<br/>
		
         <h:commandButton id="submit" value="Add User" action="#{userController.addUser(userLocal)}" class="btn btn-primary btn-lg btn-block form-control" />
               
		
		 <br/>
		 <br/>
		 <br/>
     
    </div>
    
    </main>
  </div>
</div>
 </h:form>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
      
      
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
        (function () {
        	  'use strict'

        	  feather.replace()
        	})()

</script>
           
   </h:body>
</html>
