<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
  <h:head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"></meta>
    <meta name="generator" content="Jekyll v4.1.1"></meta>
    <title>#{titleController.pageTitle}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/"></link>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"></link>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="resources/css/dashboard.css" rel="stylesheet"></link>
    
  </h:head>



  <h:body>
  <h:form class="needs-validation" id ="addform" action="#">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3"  href="index.xhtml">AUS Printing CRM</a>
  		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<ul class="navbar-nav px-3">
    		<li class="nav-item text-nowrap">
      			<h:commandLink class="nav-link" value="Sign Out"  action="#{customerManagedBean.logout()}" immediate="true">    				
      			</h:commandLink>
    		</li>
  		</ul>
	</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link " href="index.xhtml">
              <span data-feather="users"></span>
              Customers <span class="sr-only"></span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" href="">
              <span data-feather="plus">(current)</span>
              Add Customer
            </a>
          </li>
 
           <li class="nav-item">
            <a class="nav-link" href="search.xhtml">
              <span data-feather="search"></span>
              Search
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="about.xhtml">
              <span data-feather="file-text"></span>
              About
            </a>
          </li>
           
        </ul>

       
       
        <c:if test="#{request.remoteUser == 'admin'}">
        	<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          		<span>Administrator Panel</span>         
        	</h6>
        	
        	<ul class="nav flex-column mb-2">
          
          		<li class="nav-item">
            		<a class="nav-link" href="admin/users.xhtml">
              			<span data-feather="users"></span>
              			Users <span class="sr-only"></span>
            		</a>
          		</li>
  
  				<li class="nav-item">
            		<a class="nav-link" href="admin/industryType.xhtml">
              			<span data-feather="package"></span>
              			Industry Type
            		</a>
          		</li> 
          
       	 	</ul>
     	</c:if> 
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Customers</h1>
        
      </div>



  <div class="col-md-8 order-md-1">
      <h4 class="mb-3">New Customer</h4>
      
        
        
        <div class="row">
        
          <div class="col-md-6 mb-3">
            <label for="name">Company name</label>
            <h:inputText id="name" class="form-control"  value="#{customer.customerName}" title="name" required="true"
									requiredMessage="Please enter the Name!"									
									validatorMessage="Name must contain atleast 3 alphabets" >
				<f:validateLength minimum="3" ></f:validateLength>								
			</h:inputText>           
            <h:message for="name" class="text-danger" />         
          </div>
          
            <div class="col-md-6 mb-3">
             <label for="type">Industry Type</label>
              <h:selectOneMenu id="type" value="#{customer.typeOfIndustry}" class="custom-select d-block w-100"  required="true"
									requiredMessage="Please select the type!">
                        <f:selectItem itemValue="#{null}" itemLabel="Choose..." />
                        <f:selectItems value="#{customerApplication.industryTypes}" var="t"
    						itemValue="#{t.industryType}" itemLabel="#{t.industryType}" />
              </h:selectOneMenu>
            	<h:message for="type" class="text-danger" />
            </div>
           
        </div>

		<h6> Address</h6>
		<div class="row">
		
		  <div class="col-md-3 mb-3">
            <label for="streetNumber">Street Number</label>
            <h:inputText id="streetNumber" class="form-control"  value="#{customer.streetNumber}" title="streetNumber" required="true"
									requiredMessage="Please enter the street number!"
									validatorMessage="Please enter a street number between 1 and 1000"
									converterMessage="Please enter a number">
					<f:convertNumber integerOnly="true" />
					<f:validateLongRange minimum="1" maximum="1000" />
			</h:inputText>
            <h:message for="streetNumber" class="text-danger" />
          </div>
          
          
          <div class="col-md-6 mb-3">
            <label for="streetAddress">Street Address</label>
            <h:inputText id="streetAddress" class="form-control"  value="#{customer.streetAddress}" title="streetAddress" required="true"
									requiredMessage="Please enter the street Address!">
			</h:inputText>
             <h:message for="streetAddress" class="text-danger" />
          </div>
 		</div>


		<div class="row">
		
		<div class="col-md-5 mb-3">
            <label for="suburb">Suburb</label>
            <h:inputText id="suburb" class="form-control"  value="#{customer.suburb}" title="suburb" required="true"
									requiredMessage="Please enter the suburb!">
			</h:inputText>
            <h:message for="suburb" class="text-danger" />
          </div>
          
        <div class="col-md-4 mb-3">
            <label for="postcode">Post Code</label>
            <h:inputText id="postcode" class="form-control"  value="#{customer.postcode}" title="postcode" required="true"
									requiredMessage="Please enter the postcode!"
									validatorMessage="Please enter a postcode between 0200 and 4700"
									converterMessage="Please enter a number">
					<f:convertNumber integerOnly="true" />
					<f:validateLongRange minimum="200" maximum="4700" />
			</h:inputText>
            <h:message for="postcode" class="text-danger" />
          </div>
			
		   <div class="col-md-3 mb-3">
            <label for="AddressState">State</label>
            <h:selectOneMenu id="AddressState" value="#{customer.state}" class="custom-select d-block w-100" required="true"
            			requiredMessage="Select the State" >
                        <f:selectItem itemValue="#{null}" itemLabel="Choose..." />
                        <f:selectItems value="#{data.state}" var="t"
    						itemValue="#{t}" itemLabel="#{t}" />
            </h:selectOneMenu>
            <h:message for="AddressState" class="text-danger" />        
          </div>
			
		</div>


		<div class="row">
		
		<div class="col-md-6 mb-3 ">
            <label for="phoneNumber">Company Telephone</label>
            <h:inputText id="phoneNumber" class="form-control"  value="#{customer.companyPhone}" title="phoneNumber" required="true"
				requiredMessage="Please enter the Phone number!"
				validatorMessage="Invalid Phone Number"									
				converterMessage="Please enter a number">
				<f:convertNumber integerOnly="true" />
				<f:validateLongRange minimum="400000000"/>
			</h:inputText>	
				  <h:message for="phoneNumber" class="text-danger" />   					                      
          </div>
          
          
          <div class="col-md-6 mb-3">
            <label for="website">Company Web site</label>
            <h:inputText id="website" class="form-control"  value="#{customer.website}" title="website" required="true" 
            	 requiredMessage="Enter Web site">           
            </h:inputText>
                <h:message for="website" class="text-danger" />         
          </div>
		
		
		</div>


		<div class="row">
		
		<div class="col-md-3 mb-3">
            <label for="scale">Scale</label>
            <h:selectOneMenu id="scale" value="#{customer.industryScale}" class="custom-select d-block w-100" required="true" requiredMessage="Select the Scale">
                        <f:selectItem itemValue="#{null}" itemLabel="Choose..." />
                        <f:selectItems value="#{data.scale}" var="t"
    						itemValue="#{t.label}" itemLabel="#{t.label}" />
              </h:selectOneMenu>
             <h:message for="scale" class="text-danger" />   
          </div>
		
		<div class="col-md-3 mb-3">
            <label for="products">Products Purchased</label>
            <h:inputText id="products" class="form-control"  value="#{customer.noOfProductsBrought}" title="Products Purchased" 
            	required="true"
            	validatorMessage="Products must be greater than 0"
				requiredMessage="Please enter the number of products purchased!"									
				converterMessage="Please enter a number">
				<f:convertNumber integerOnly="true" />
				<f:validateLongRange minimum="1" />
			</h:inputText>          
                <h:message for="products" class="text-danger" />        
          </div>
          
     
         <c:if test="#{request.remoteUser == 'admin'}">     
          <div class="col-md-3 mb-3">
            <label for="user">Assign User</label>
            <h:selectOneMenu id="user" value="#{customer.userId}" class="custom-select d-block w-100" required="true" requiredMessage="Assign a User">
                        <f:selectItem itemValue="#{null}" itemLabel="Choose..." />
                         <f:selectItem itemValue="admin" itemLabel="admin" />
                        <f:selectItems value="#{customerApplication.users}" var="t"
    						itemValue="#{t.username}" itemLabel="#{t.username}" />
              </h:selectOneMenu>
             <h:message for="user" class="text-danger" />   
          </div>
         </c:if> 
          
		
		<div class="col-md-5 mb-3">
           	
            <h:inputHidden id="persons"  value="#{customer.contactPersonsString}" title="persons">
            </h:inputHidden>
			        
        </div>
	
	
		</div>
	
		<hr />
		<h4> Contact Person </h4>
		
		<p>Enter Details of Contact Person and Click Add Contact Person</p>
		<br/>
		<div class="form-row">
    		
    		<div class="form-group col-md-3">
      			<label for="cname">Name</label>
      			<input type="text" class="form-control" id="cname" value=""/>
      			<p id="nameError" class="text-danger" ></p>
    		</div>
    
    	
    		
    		<div class="form-group col-md-2">
      			<label for="cgender">Gender</label>
      			 <select id="cgender" class="form-control">
    				<option value="Male">Male</option>
    				<option value="Female">Female</option>
    				<option value="Other">Other</option>
  				</select>
    		</div>
    		
    		<div class="form-group col-md-3">
      			<label for="cdob">Date of Birth</label>
      			<input type="date" class="form-control" id="cdob" value=""/>
      			<p id="dateError" class="text-danger" ></p>
    		</div>
    		
    		
  		</div>
  		
  		<p>Address</p>
  		<div class="form-row">
  		
  			<div class="form-group col-md-2">
      			<label for="cstreet">Street Number</label>
      			<input type="text" class="form-control" id="cstreet" value=""/>
      			<p id="streetNoError" class="text-danger" ></p>
    		</div>
    		
    		<div class="form-group col-md-3">
      			<label for="csaddress">Street Address</label>
      			<input type="text" class="form-control" id="csaddress" value=""/>
      			<p id="streetAddError" class="text-danger" ></p>
    		</div>
    		
    		<div class="form-group col-md-3">
      			<label for="csuburb">Suburb</label>
      			<input type="text" class="form-control" id="csuburb" value=""/>
      			<p id="suburbError" class="text-danger" ></p>
    		</div>
    				
  		</div>
		
		<div class="form-row">
  		   		
    		<div class="form-group col-md-3">
      			<label for="cpostcode">Post Code</label>
      			<input type="text" class="form-control" id="cpostcode" value=""/>
      			<p id="postCodeError" class="text-danger" ></p>
    		</div>
    		
    		<div class="form-group col-md-2">
      			<label for="cstate">State</label>
      			 <select id="cstate" class="form-control">
    				<option value="VIC">VIC</option>
    				<option value="TAS">TAS</option>
    				<option value="Other">Other</option>
  				</select>
    		</div>
    		   		   				
  		</div>
  		
  		<div class="form-row">
  		   		
    		<div class="form-group col-md-3">
      			<label for="cphone">Phone Number</label>
      			<input type="text" class="form-control" id="cphone" value=""/>
      			<p id="phoneError" class="text-danger" ></p>
    		</div>
    		
    		<div class="form-group col-md-3">
      			<label for="cemail">Email</label>
      			<input type="text" class="form-control" id="cemail" value=""/>
      			<p id="emailError" class="text-danger" ></p>
    		</div>
    		   		   				
  		</div>
		
		<div class="form-row d-flex"> 	
  			<div class="ml-auto p-2">
  				<button type="button" class="btn btn-primary"  onclick="gfg_Run()">Add Contact Person</button>
  			</div>  		
  		</div>

		<hr />
		<h4> Contact Persons of New Customer </h4>
		<br/>
		
		<div class="table-responsive">
        <table class="table table-striped table-sm" id="contactPersonTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Date of Birth</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            
     
          </tbody>
        </table>
      </div>
		
		
		<br/>
		
         <h:commandButton id="submit" value="Add Customer" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary btn-lg btn-block form-control" outcome="index" />
               
		
		 <br/>
		 <br/>
		 <br/>
     
    </div>
    
    </main>
  </div>
</div>
 </h:form>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
      
      
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
        (function () {
        	  'use strict'

        	  feather.replace()
        	})()

</script>
 <script> 

        function gfg_Run() {
        	var inputF = document.getElementById("addform:persons"); 
        	var name = document.getElementById("cname").value;
        	var gender = document.getElementById("cgender").value; 
        	var dob = document.getElementById("cdob").value;
        	var streetno = document.getElementById("cstreet").value;
        	var streetadd = document.getElementById("csaddress").value;
        	var suburb = document.getElementById("csuburb").value;
        	var postCode = document.getElementById("cpostcode").value;
        	var state = document.getElementById("cstate").value;
        	var phone = document.getElementById("cphone").value;
        	var email = document.getElementById("cemail").value;


			var valid = true;

			if(name == ""){
				document.getElementById("nameError").innerHTML = "Enter Name";
				valid = false;
			} else if (name.length &lt; 4 || name.length > 30 ){
				document.getElementById("nameError").innerHTML = "Name Should be Between 4 and 30 Characters";
				valid = false;
			}
			else{
				document.getElementById("nameError").innerHTML = "";
			}


			if(dob == ""){
				document.getElementById("dateError").innerHTML = "Enter Date of Birth";
				valid = false;
			} else {
				document.getElementById("dateError").innerHTML = "";
			}

			
			if(isNaN(streetno)){
				document.getElementById("streetNoError").innerHTML = "Enter a Number";
				valid = false;			
			} else if (streetno == ""){
				document.getElementById("streetNoError").innerHTML = "Enter Street Number";
				valid = false;	
			} else if (streetno &lt; 1 || streetno > 2000 ){
				document.getElementById("streetNoError").innerHTML = "Invalid Street Number";
				valid = false;
			} else{
				document.getElementById("streetNoError").innerHTML = "";				
			}


			if(streetadd == ""){
				document.getElementById("streetAddError").innerHTML = "Enter Street Address";
				valid = false;
			} else if (streetadd.length &lt; 4 || streetadd.length > 30 ){
				document.getElementById("streetAddError").innerHTML = "Street Address should be Between 4 and 30 Characters";
				valid = false;
			}
			else{
				document.getElementById("streetAddError").innerHTML = "";
			}


			if(suburb == ""){
				document.getElementById("suburbError").innerHTML = "Enter Suburb";
				valid = false;
			} else if (suburb.length &lt; 4 || suburb.length > 20 ){
				document.getElementById("suburbError").innerHTML = "Suburb should be Between 4 and 20 Characters";
				valid = false;
			}
			else{
				document.getElementById("suburbError").innerHTML = "";
			}


			if(isNaN(postCode)){
				document.getElementById("postCodeError").innerHTML = "Enter a Number";
				valid = false;			
			} else if (postCode == ""){
				document.getElementById("postCodeError").innerHTML = "Enter Post Code";
				valid = false;	
			} else if (postCode &lt; 500 || postCode > 4000 ){
				document.getElementById("postCodeError").innerHTML = "Invalid Post Code";
				valid = false;
			} else{
				document.getElementById("postCodeError").innerHTML = "";				
			}

			var phoneNoReg = /^\d{10}$/;
			if(phone.match(phoneNoReg)){
				document.getElementById("phoneError").innerHTML = "";
				
			} else {
				valid = false;
				document.getElementById("phoneError").innerHTML = "Invalid Phone";
			}

			function validateEmail(email) {
				var re = /\S+@\S+\.\S+/;
			    return re.test(String(email).toLowerCase());
			}

			if (validateEmail(email)) {
				document.getElementById("emailError").innerHTML = "";
			}else{
				valid = false;
				document.getElementById("emailError").innerHTML = "Invalid Email";
			}

			if (valid){
				
       	 	var contact = name + "," + gender + "," + dob + "," + streetno + "," + streetadd + "," + suburb + "," + postCode + "," + state + "," + phone + "," + email + ";"; 
        	inputF.value = inputF.value +  contact;

        	var table = document.getElementById("contactPersonTable");
        	var row = table.insertRow(1);
        	
        	var cell1 = row.insertCell(0);
        	var cell2 = row.insertCell(1);
        	var cell3 = row.insertCell(2);
        	var cell4 = row.insertCell(3);
        	var cell5 = row.insertCell(4);
        	var cell6 = row.insertCell(5);

        	cell1.innerHTML = name;
        	cell2.innerHTML = gender;
        	cell3.innerHTML = dob;
        	cell4.innerHTML = streetno + " " + streetadd + " " + suburb + " " + postCode + " " + state;
        	cell5.innerHTML = phone;
        	cell6.innerHTML = email;

        	document.getElementById("cname").value = "";        	
        	document.getElementById("cdob").value = "";
        	document.getElementById("cstreet").value = "";
        	document.getElementById("csaddress").value = "";
        	document.getElementById("csuburb").value = "";
        	document.getElementById("cpostcode").value = "";
        	document.getElementById("cphone").value = "";
        	document.getElementById("cemail").value = "";

        	alert("Contact Person Added");
        	
			}
        	
        } 
</script>       
      
   </h:body>
</html>
